<div class="jumbotron">
    <h1 class="display-4 text-white text-center">
        Only the news you want!
    </h1>
    <hr>
    <h1 class="text-white text-center">
        Scrape and save articles<br>
        from the New York Times.
    </h1>
</div>